<!DOCTYPE html>
<html>
  <head>
    <title>
      Jovian varrees hoho
    </title>
    <style>
      h1 {
        font-size: 40px;
        font-family: arial;
        font-weight: normal;
        color: rgb(100,100,150);
        text-align: center;
      }

      #banner {
        width: 100%;
        height: 250px;
        object-fit:cover;
      }

      p {
        font-family: arial;
      }

      .bodytext {
        font-family: arial;
        font-size: 20px;
      }

      #container {
        max-width: 720px;
        margin: 0 auto;
      }


      
    </style>
  </head>
  <body>
    <div id="container">
      <h1>Nancy nancy nacy woahaha</h1>
      <img id="banner" src="https://fa205288-a1bd-45aa-84b0-f84bf0f23e7f-00-18x3yshplvvv4.riker.replit.dev/static/delme.jpg" >
      <p class="bodytext">
        Jaha haha okej döh
      </p>
      <div style="text-align: center">
        <button>KNAPP</button>
      </div>
    </div>
  </body>
</html>